<template >
    <div class="row">
        <ul class="list margin-top-20 list-char list-char-practice" id="list-char">
            <li class="" v-bind:class="item.class" v-for="(item,key) in practicelist" v-html="showStaticList(key)"></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Practice',

        data() {
            return {

            }
        },
        computed:{
            practicelist(){
                return  this.$store.getters.practicelist
            },
            wrongData(){
                return this.$store.getters.wrongData
            }
        },
        watch:{
            wrongData(){
                //this.setLocalStorage('wrongResult',this.$store.getters.wrongData)
            }
        },
        methods:{
            showStaticList:function(key){
                if(this.$root.practiceType == 1){
                    return this.forKanji(key)
                }
                if(this.$root.practiceRange.length == 2 ){
                    return this.practicelist[key].h+'|'+this.practicelist[key].k
                        +'<br/><span class="romanji">'+this.practicelist[key].r+'</span>';
                }
                else{
                    return this.practicelist[key][this.$root.practiceRange]
                        +'<br/><span class="romanji">'+this.practicelist[key].r+'</span>';
                }
            },
            forKanji:function(key){
                //this.debug('this.$root.practiceRange',this.$root.practiceRange)
                if(this.$root.practiceRange.length == 2 ){
                    return this.practicelist[key].k
                        +'<br/>'+this.practicelist[key].o
                        +'<br/>'+this.practicelist[key].ku
                        +'<br/><i>'+this.practicelist[key].v+'</i>'
                }
                else{
                    return this.practicelist[key].k
                        +'<br/>'+this.practicelist[key][this.$root.practiceRange.toString()]
                        +'<br/><i>'+this.practicelist[key].v+'</i>'
                }
            },
            resetData:function(){
                var data =  this.$root.cloneObject(this.$root.practiceChar)
                //this.debug('data',data)
                data.map(function(item){
                    item['class'] = '';
                    return item
                })
                this.$store.commit('createPracticeList',data)
            },
        },

        created:function(){
            //this.$store.commit('createdWrongData',this.getLocalStorage('wrongResult'))
            this.resetData()
           // this.$store.commit('resetForm')
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
    .list-char-practice li{
        color: white;
    }
    .list-char-practice li[class^="bg-"]{
        color:black !important;
    }

</style>
