<template >
    <section>
        <div class="row">
            <div class="col-sm-4 col-xs-6 col-sm-offset-2 result-header">
                <h3> Đề bài</h3>
            </div>
            <div class="col-sm-4 col-xs-6 result-header">
                <h3>Kết quả</h3>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-4  col-xs-4 col-sm-offset-2 ">
                <div class="result-style " id="show-char" >{{randomChar}}</div>
                <div class="fixed-text"><span class="text-danger">{{statistic.incorrect}}</span>/<span class="text-success">{{statistic.correct}}</span>/{{statistic.total}}</div>
            </div>
            <div class="col-sm-4  col-xs-8 result-relative"   >
                <div class="result-style show-result" v-bind:class="bg_class" v-html="result" ></div>
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        name: 'PracticePresentation',
        data:function(){
            return{
                bg_class:''
            }
        },

        computed:{
            randomChar(){
                //this.debug('this.$store.getters.randomData',this.$store.getters.randomData)
                return  this.parseRandomChar(this.$store.getters.randomData)
            },
            result(){
                if(this.$root.practiceType == 1){
                    return this.resultHtmlForKanji(this.$store.getters.resultData)
                }
                else{
                    return this.resultHtmlForBasic(this.$store.getters.resultData)
                }
            },
            statistic(){
                return this.$store.getters.statistic
            }
        },
        methods:{
            resultHtmlForBasic:function(data){
                if(data.userAnswerStatus === ''){
                    this.bg_class =''
                    return ''
                }
                this.bg_class ='bg-danger'
                var class_emoji = 'fa-frown'
                if(data.userAnswerStatus == true){
                    this.bg_class = 'bg-success'
                    class_emoji = 'fa-grin-beam'
                }
                return  '<div>'+data.chars.h+'|'+data.chars.k+'|'+data.chars.r+'</div>\n' +
                    '<div class="result-absolute"><span id="message-result"></span> <i class="far '+class_emoji+'"></i> '+data.userAnswerText+'</div>'
            },
            resultHtmlForKanji:function(data){
                if(data.userAnswerStatus === ''){
                    this.bg_class =''
                    return ''
                }
                this.bg_class ='bg-danger result-kanji'
                var class_emoji = 'fa-frown'
                if(data.userAnswerStatus == true){
                    this.bg_class = 'bg-success result-kanji'
                    class_emoji = 'fa-grin-beam'
                }
                return  '<div class="text"> Kanji : '+data.chars.k +'<span class="vietnamese"> ( '+data.chars.v+' )</span>'
                    +'<br/>On : '+data.chars.o
                    +'<br/>Kun : '+data.chars.ku
                    +'<br/><span class="emoji"><i class="far '+class_emoji+'"></i> : '+data.userAnswerText+'</span>'
            },
            parseRandomChar:function(data){
                //this.debug('data random',data)
                // alert( data[data.randomKey])
                if(data){
                    return data[data.randomKey]
                }


            }
        },
        created:function(){

        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    .show-result{
        font-size:35px;
    }
    .result-kanji{
        font-size: 18px !important;
        line-height: 24px !important;
        font-weight: normal;
    }
    .result-kanji .text{
        margin-top:-8px;
        text-align: left;
        margin-left:20px;
    }

    .result-kanji .vietnamese{
        font-size: 18px;
        font-style: italic;

    }
    .fixed-text{
        top:-20px;
        position: relative;
    }
    @media screen and (max-width: 767px) {
        .result-style{
            font-size:35px
        }
        .show-result{
            font-size:25px
        }
    }
</style>
