body{
    padding-bottom: 30px;
}

.result-style{
    font-size:50px;
    font-weight: bold;

    height:100px;
    border:1px solid gray;
    padding-top:10px;
    text-align: center;
}
.result-header{
    text-align: center;
}
.small-size{
    font-size:20px;
}

#result-typing{
    margin-top:20px;
}

.list-char{
    text-align: center;
    padding:0 !important;
}

.list-char li{
    display: inline-block;
    padding:0px 10px;
    border:1px solid gray ;
    color: black;
    margin-bottom: 10px;
}

.list-char li.active{
    color: black;
}

.list-char li .number{
    color:red;
    font-weight: bold;
}

#loading{
    display: none;
    text-align: center;
    width:100%;
}



.margin-top-20{
    margin-top:20px;
}

.practice{
    /*display: none;*/
}

.setup-range{
    /*display: none;*/
}

.result-relative{
    position: relative;
}

.result-absolute{
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-left: -15px;
    line-height: 25px;
}
.table-kanji tr.active,.table-kanji tr.active td{
    background-color: pink !important;
}

@media screen and  (max-width: 767px){
    .result-header h3{
        font-size:16px;
        margin-top:0px;
    }
    .result-style{
        height: auto;
        font-size: 38px;
        padding: 7px 2px;
        min-height: 69px;
    }
    .alert{
        padding: 5px 10px !important;
    }

    .clear-both-xs{
        clear:both;
    }
    
    .show-result{
        font-size: 27px;
    }
    .text-center-xs{
        text-align: center !important;
    }
}










