<template>
    <section class="container setup-range" id="setup-range">
        <div class="row">
            <h2 class="text-center">Phần luyện tập chữ cái cơ bản </h2>
            <div class="col-sm-12">
                <div class="row ">
                    <label  class="text text-danger col-sm-5 text-right">Phương thức chọn :  </label>
                    <div class="col-sm-7 text-left text-center-xs">
                        <label><input type="radio" value="1" v-model="isSelectRange"/> Chọn dãy ký tự </label>&nbsp;
                        <label><input type="radio" value="0" v-model="isSelectRange"/> Chọn từng ký tự</label>
                    </div>
                </div>
                <div class="row">
                    <label class="text text-danger col-sm-5 text-right">Bảng chữ cái : </label>
                   <div class="col-sm-7 text-left text-center-xs">
                       <label><input type="checkbox" value="h" v-model="$root.practiceRange"/> Hiragana </label>&nbsp;
                       <label><input type="checkbox" value="k" v-model="$root.practiceRange"/> Katakana</label>
                   </div>
                </div>

                <template v-if="$root.practiceRange.length > 0">
                    <h3 class="text-center">Chọn chữ cái </h3>
                    <ul class="list margin-top-20 list-char list-char-select">
                        <li class="" v-bind:class="{active:checkActive(item.r)}" v-for="(item,key) in dataChar" v-html="parseHtml(key,'dataChar')" @click="addPracticeChar(key,'dataChar')">

                        </li>
                    </ul>

                    <h3 class="text-center">Chọn âm ghép </h3>
                    <ul class="list margin-top-20 list-char list-char-select">
                        <li class="" v-bind:class="{active:checkActive(item.r)}" v-for="(item,key) in groupChar" v-html="parseHtml(key,'groupChar')" @click="addPracticeChar(key,'groupChar')">

                        </li>
                    </ul>


                    <h3 class="text-center">Chữ đã trả lời sai</h3>
                    <p>Mỗi lần trả lời đúng, số lần sai sẽ giảm đi 1 cho đến khi hết sẽ không xuất hiện ở đây nữa</p>
                    <template v-if="wrongData.length > 0">
                        <ul class="list margin-top-20 list-char list-char-select">
                            <li class="" v-bind:class="{active:checkActive(item.r)}" v-for="(item,key) in wrongData" v-html="parseHtml(key,'wrongData')" @click="addPracticeChar(key,'wrongData')">

                            </li>
                        </ul>
                    </template>
                    <p v-else class="text-danger">Ồ ! bạn chưa từng trả lời sai</p>
                </template>
                <p v-else class="text-danger" style="margin-bottom: 20px;">Hãy chọn bảng chữ cái</p>

            </div>

            <div class="col-sm-12 text-center">


                <div class="btn-group">
                    <button @click="nextScreen('Practice')" class="btn btn-info">Tìm phiên âm</button>
                </div>
                <div class="btn-group">
                    <button @click="nextScreen('PracticeJP')" class="btn btn-info">Tìm chữ cái</button>
                </div>
                <div class="btn-group">
                    <router-link to="/" class="btn btn-default">Về trang chủ</router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Basic',
        data() {
            return {
                inputFrom: 1,
                inputTo: 10,
                arrConcat: [],
                dataChar: {},
                isSelectRange: 1,
                selectRange: {
                    from: '',
                    to: ''
                },
                wrongData:[],
                groupChar:[]
            }
        },
        computed: {
            wrongDataBasic(){
                return this.$store.state.wrongDataBasic.data
            }
        },
        methods: {
            parseHtml:function(key,arrData){
                var item = this[arrData][key];
                var html = ''

                if(this.$root.practiceRange == 'h'){
                    html+=item.h
                }
                if(this.$root.practiceRange == 'k'){
                    html+=item.k
                }
                if(this.$root.practiceRange.length == 2){
                    html+=item.h+'|'+item.k
                }
                html+='<br/>'+item.r
                if(arrData == 'wrongData'){
                    html+='<br/><span class="number">'+item.wrongNumber+'</span>';
                }
                else{
                    html+='<br/><span class="number">'+(key+1)+'</span>';
                }

                return html
            },

            checkActive: function (romanjiChar) {
                for (var i = 0; i < this.$root.practiceChar.length; i++) {
                    if (this.$root.practiceChar[i].r == romanjiChar) {
                        return true;
                    }
                }
                return false;
            },
            addPracticeChar: function (key,arrName) {
                if (this.isSelectRange == 1) {
                    if (this.selectRange.from === '' || this.selectRange.from > key) {
                        this.selectRange.from = key
                        this.$root.practiceChar.length = 0
                        this.$root.practiceChar.push(this[arrName][key])
                    }
                    else if (this.selectRange.to == '') {
                        this.selectRange.to = key
                        this.$root.practiceChar.length = 0
                        for (var i = this.selectRange.from; i <= this.selectRange.to; i++) {
                            this.$root.practiceChar.push(this[arrName][i])
                        }

                        this.selectRange.from = this.selectRange.to = ''
                    }


                }
                else {
                    if (!this.checkExistsAndDelete(this[arrName][key][0])) {
                        this.$root.practiceChar.push(this[arrName][key])
                    }
                }
                this.debug('this.$root.practiceChar',this.$root.practiceChar)
            },
            checkExistsAndDelete: function (romanjiChar) {
                for (var i = 0; i < this.$root.practiceChar.length; i++) {
                    if (this.$root.practiceChar[i].r == romanjiChar) {
                        this.$root.practiceChar.splice(i, 1)
                        return true;
                    }
                }
                return false;
            },


            nextScreen: function (screen) {
                if(this.$root.practiceRange.length == 0){
                    swal('Hãy chọn bảng chữ cái','','error')
                    return
                }
                if(this.$root.practiceChar.length <5 ){
                    swal('Hãy chọn ít nhất 5 chữ cái !','','error')
                    return
                }
                this.$router.push(screen)
            },
            
            initData: function () {
                this.dataChar = this.cloneObject(this.$root.mainData.basic);
                this.groupChar = this.cloneObject(this.$root.mainData.am_ghep);
                //console.log(this.dataChar )

                this.wrongData = this.wrongDataBasic
                if(this.wrongData != null){
                    this.wrongData.sort(function(a, b){
                        if (a.wrongNumber === b.wrongNumber) {
                            return 0;
                        }
                        else {
                            return (a.wrongNumber < b.wrongNumber) ? 1 : -1;
                        }
                    });
                }
                else{
                    this.wrongData = []
                }

                if(this.$root.practiceRange.length == 0){
                    this.$root.practiceRange = ['h']
                }
               //this.debug('this.$root.practiceRange',this.$root.practiceRange)
            },

        },

        created(){
           // console.log('basic debug',this.$root.mainData)
            if (this.$root.mainData == null) {
                this.$router.push('/')
            }

            this.$store.commit('loadWrongDataBasic')
        },
        mounted: function () {
            this.initData()
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .list-char-select .active {
        background: pink;
    }

</style>
