<template >
    <section class="container setup-range" id="setup-range">
        <div class="row media">
            <h3 class="text-center">Luyện bảng chữ cái cơ bản</h3>
            <div class="col-sm-12 ">
                <p>Tìm phiên âm từ chữ cái Nhật</p>
                <router-link to="/basic" class="btn btn-primary">Bắt đầu</router-link>
            </div>

        </div>
        <div class="row media">
            <h3 class="text-center">Luyện Kanji</h3>
            <div class="col-sm-12">
                <p>Tìm phiên âm và nghĩa từ chữ cái Nhật</p>
                <router-link to="/kanji" class="btn btn-primary">Bắt đầu</router-link>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    export default {
        name: 'Home',
        data() {
            return {
                dataChar:{}
            }
        },
        methods:{
            loadData:function(){
                var structVersion = 1.1
                var wrongVersion = 1.0
               // this.debug('main data',this.$root.mainData)
                if(this.$root.mainData != null){
                    return;
                }
                this.$root.mainData = this.getLocalStorage('data')
                var dataStructVersion = this.getLocalStorage('dataStructVersion')

                this.debug('get storage this.$root.mainData',this.$root.mainData)
                if(this.$root.mainData == null || structVersion != dataStructVersion){
                    let loader = this.$loading.show()
                    axios.get(this.$root.apiUrl+'data.php')
                        .then(response => {
                            this.$root.mainData = response.data
                            this.setLocalStorage('data',response.data)
                            this.setLocalStorage('dataStructVersion',structVersion)
                        })
                        .catch(e=>{
                            console.log(e)
                            alert('Tải data không thành công, ứng dụng có thể không hoạt động đúng')
                            loader.hide()
                        })
                        .then(function(){
                            loader.hide()
                        })
                }

                var wrongDataVersion = this.getLocalStorage('wrongDataVersion')
                if(wrongDataVersion != wrongVersion){
                    this.setLocalStorage('wrongDataBasic',[])
                    this.setLocalStorage('wrongDataKanji',[])
                    this.setLocalStorage('wrongDataVersion',wrongVersion)
                }

            }
        },

        created:function(){
            this.loadData()
            this.$root.practiceRange = []
            this.$root.practiceData = []
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
