<template>
    <section class="container setup-range" id="setup-range">
        <div class="row">
            <h2 class="text-center">Phần luyện tập chữ Kanji </h2>
            <div class="col-sm-12">
                <div class="row ">
                    <label  class="text text-danger col-sm-5 text-right">Phương thức chọn :  </label>
                    <div class="col-sm-7 text-left text-center-xs">
                        <label><input type="radio" value="1" v-model="isSelectRange"/> Chọn dãy ký tự </label>&nbsp;
                        <label><input type="radio" value="0" v-model="isSelectRange"/> Chọn từng ký tự</label>
                    </div>
                </div>
                <div class="row">
                    <label class="text text-danger col-sm-5 text-right">Chọn âm : </label>
                   <div class="col-sm-7 text-left text-center-xs">
                       <label><input type="checkbox" value="o" v-model="$root.practiceRange"/> On </label>&nbsp;
                       <label><input type="checkbox" value="ku" v-model="$root.practiceRange"/> Kun</label>
                   </div>
                </div>

                <template v-if="$root.practiceRange.length > 0">
                    <h3 class="text-center">Chọn chữ </h3>
                    <table class="table table-bordered table-kanji">
                        <tbody>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Kanji</th>
                                <th class="text-center" v-if="$root.practiceRange.indexOf('o') >= 0 ">Âm On</th>
                                <th class="text-center" v-if="$root.practiceRange.indexOf('ku') >= 0">Âm Kun</th>
                                <th class="text-center">Hán việt</th>
                                <th class="text-center">Tiếng việt</th>
                            </tr>
                            <tr v-for="(item,key) in dataChar"  v-bind:class="{active:checkActive(item.k)}"  v-html="htmlForTr(key)" @click="addPracticeChar(key,'dataChar')">
                                <td>STT</td>
                                <td>Kanji</td>
                                <td>Âm On</td>
                                <td>Âm Kun</td>
                                <td>Hán việt</td>
                                <td>Hán việt</td>
                            </tr>

                        </tbody>
                    </table>


                    <h3 class="text-center">Chữ đã trả lời sai</h3>
                    <p>Mỗi lần trả lời đúng, số lần sai sẽ giảm đi 1 cho đến khi hết sẽ không xuất hiện ở đây nữa</p>
                    <template v-if="wrongData.length > 0">
                        <ul class="list margin-top-20 list-char list-char-select" v-if="$root.practiceRange == 1">
                            <li class="" v-bind:class="{active:checkActive(item[0])}" v-for="(item,key) in wrongData" @click="addPracticeChar(key,'wrongData')">
                                {{item[1]}}<br/>{{item[0]}}<br/><span class="number">{{item[3]}}</span>
                            </li>
                        </ul>
                        <ul class="list margin-top-20 list-char list-char-select" v-if="$root.practiceRange == 2">
                            <li class="" v-bind:class="{active:checkActive(item[0])}" v-for="(item,key) in wrongData" @click="addPracticeChar(key,'wrongData')">
                                {{item[2]}}<br/>{{item[0]}}<br/><span class="number">{{item[3]}}</span>
                            </li>
                        </ul>
                        <ul class="list margin-top-20 list-char list-char-select" v-if="$root.practiceRange.length == 2">
                            <li class="" v-bind:class="{active:checkActive(item[0])}" v-for="(item,key) in wrongData" @click="addPracticeChar(key,'wrongData')">
                                {{item[1]}}|{{item[2]}}<br/>{{item[0]}}<br/><span class="number">{{item[3]}}</span>
                            </li>
                        </ul>
                    </template>
                    <p v-else class="text-danger">Ồ ! bạn chưa từng trả lời sai</p>
                </template>
                <p v-else class="text-danger" style="margin-bottom: 20px;">Hãy chọn 1 âm</p>

            </div>

            <div class="col-sm-12 text-center">


                <div class="btn-group">
                    <button @click="nextScreen('kanjifindromanji')" class="btn btn-info">Tìm phiên âm</button>
                </div>
                <div class="btn-group">
                    <!--<button @click="nextScreen('PracticeJP')" class="btn btn-info">Tìm chữ cái</button>-->
                </div>
                <div class="btn-group">
                    <router-link to="/" class="btn btn-default">Về trang chủ</router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Basic',
        data() {
            return {
                inputFrom: 1,
                inputTo: 10,
                arrConcat: [],
                dataChar: {},
                isSelectRange: 1,
                selectRange: {
                    from: '',
                    to: ''
                },
                wrongData:[],
                groupChar:[]
            }
        },
        computed: {},

        methods: {
            htmlForTr:function(key){
                var item = this.dataChar[key]
                var html ='<td>'+(key+1)+'</td>';
                    html +='<td>'+item.k+'</td>';
               // console.log(this.$root.practiceRange)
                //     console.log(this.$root.practiceRange.indexOf('1'))
                if(this.$root.practiceRange.indexOf('o') >= 0 ){
                    html +='<td>'+item.o+'</td>';
                }
                if(this.$root.practiceRange.indexOf('ku') >= 0){
                    html +='<td>'+item.ku+'</td>';
                }

                html +='<td>'+item.h+'</td>';
                html +='<td>'+item.v+'</td>';
                return html
            },
            checkActive: function (romanjiChar) {
                for (var i = 0; i < this.$root.practiceChar.length; i++) {
                    if (this.$root.practiceChar[i].k == romanjiChar) {
                        return true;
                    }
                }
                return false;
            },
            addPracticeChar: function (key,arrName) {
                if (this.isSelectRange == 1) {
                    if (this.selectRange.from === '' || this.selectRange.from > key) {
                        this.selectRange.from = key
                        this.$root.practiceChar.length = 0
                        this.$root.practiceChar.push(this[arrName][key])
                    }
                    else if (this.selectRange.to == '') {
                        this.selectRange.to = key
                        this.$root.practiceChar.length = 0
                        for (var i = this.selectRange.from; i <= this.selectRange.to; i++) {
                            this.$root.practiceChar.push(this[arrName][i])
                        }

                        this.selectRange.from = this.selectRange.to = ''
                    }


                }
                else {
                    if (!this.checkExistsAndDelete(this[arrName][key].k)) {
                        this.$root.practiceChar.push(this[arrName][key])
                    }
                }
                this.debug('this.$root.practiceRange',this.$root.practiceRange)
            },
            checkExistsAndDelete: function (romanjiChar) {
                for (var i = 0; i < this.$root.practiceChar.length; i++) {
                    if (this.$root.practiceChar[i].k == romanjiChar) {
                        this.$root.practiceChar.splice(i, 1)
                        return true;
                    }
                }
                return false;
            },


            nextScreen: function (screen) {
                if(this.$root.practiceRange.length == 0){
                    swal('Hãy chọn 1 âm','','error')
                    return
                }
                if(this.$root.practiceChar.length <5 ){
                    swal('Hãy chọn ít nhất 5 chữ cái !','','error')
                    return
                }
                this.$router.push(screen)
            },
            
            initData: function () {
                this.dataChar = this.cloneObject(this.$root.mainData.kanji);
                //console.log(this.dataChar )

                this.wrongData = this.getLocalStorage('wrongResult')
                if(this.wrongData != null){
                    this.wrongData.sort(function(a, b){
                        if (a.wrongNumber === b.wrongNumber) {
                            return 0;
                        }
                        else {
                            return (a.wrongNumber < b.wrongNumber) ? 1 : -1;
                        }
                    });
                }
                else{
                    this.wrongData = []
                }

                if(this.$root.practiceRange.length == 0){
                    this.$root.practiceRange = ['o']
                }
                this.$root.practiceType = 1
              //  this.debug('this.wrongData',this.wrongData)
            },

        },

        created(){
           // console.log('basic debug',this.$root.mainData)
            if (this.$root.mainData == null) {
                this.$router.push('/')
            }


        },
        mounted: function () {
            this.initData()
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >


</style>
