<template >
    <section class="container practice" id="practice">
        <PracticeList></PracticeList>

        <PracticePresentation></PracticePresentation>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form id="typing-form" action="" autocomplete="off">
                    <div class="margin-top-20" id="message"></div>
                    <div class="form-group">
                        <div class="group-typing">
                            <label class="col-sm-3 col-xs-4 text-right ">{{typing.label}}</label>
                            <div class="col-sm-3  col-xs-4 form-group">
                                <input id="typing" class="form-control" ref="typingValue" placeholder="ví dụ : ka" v-bind:class="typing.class" v-model="typing.value"/>
                            </div>

                            <div class="col-sm-2 col-xs-4 text-left ">
                                <button class="btn btn-default" id="check-char"@click="checkTyping">Check</button>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-sm-12 text-center">
                <div class="  btn-group">
                    <button class="btn btn-primary"  type="button" ref="start" @click="start">Làm lại</button>
                </div>
                <div class=" btn-group">
                    <router-link to="/basic" class="btn btn-primary" type="button">Chọn lại ký tự</router-link>
                </div>
                <div class=" btn-group">
                    <router-link to="/" class="btn btn-default" type="button">Về trang chủ</router-link>
                </div>
            </div>

        </div>

    </section>
</template>

<script>
    import PracticeList from '@/component/PracticeList'
    import PracticePresentation from '@/component/PracticePresentation'
    export default {
        name: 'Practice',
        components:{
            PracticeList,
            PracticePresentation
        },
        data() {
            return {
                data:{
                    currentArray :[],
                    max:0,
                    currentKey:0,

                },
                typing:{
                    value:'',
                    rel:'',
                    class:'',
                    label:'Nhập ký tự romanji'
                },
                answer:{
                    answerResult:false
                }
            }
        },
        methods:{

            adjustCurrentArr:function(){
                if(this.answer.answerResult){
                    this.data.currentArray.splice(this.data.currentKey,1)
                    this.data.max=this.data.currentArray.length - 1;
                }
            },
            checkTyping:function(e){
                e.preventDefault()
                this.typing.value = this.typing.value.trim().toLowerCase();
                if(this.typing.value == ''){
                    swal('Hãy gõ chữ đi nào !','','info')
                    this.$refs.typingValue.focus();
                    return;
                }
                var resultData = []
                resultData.userAnswer = {
                    text:'',
                    status:''
                }
                resultData['userAnswerText'] = this.typing.value
                resultData['chars'] = this.data.currentArray[this.data.currentKey]

                if(this.typing.value == this.data.currentArray[this.data.currentKey].r) {
                    this.answer.answerResult= true
                }
                else{
                    this.answer.answerResult= false
                }
                resultData['userAnswerStatus'] = this.answer.answerResult
                this.$store.commit('updateResultData',resultData)
                this.adjustCurrentArr()


                if(this.data.max < 0){

                    swal('Xin chúc mừng !','Bạn đã hoàn thành phần luyện tập','success')
                    this.$refs.typingValue.focus();
                    return ;
                }
                this.typing.value = '';
                this.$refs.typingValue.focus();
                this.randomAction()
            },
            resetForm:function(){
                this.typing.value = ''
                this.$refs.typingValue.focus();
                this.$store.commit('resetForm')
            },

            randomAction : function(){

                if(this.data.max > 0){
                    this.data.currentKey =  this.random(0,this.data.max)
                }
                else{
                    this.data.currentKey = 0;
                }
                var randomData = this.cloneObject(this.data.currentArray[this.data.currentKey]);
                var randomKey = this.$root.practiceRange.toString()

                if(this.$root.practiceRange.length == 2 ){
                    var ran = this.random(0,1)
                    randomKey = this.$root.practiceRange[ran]
                }
                randomData['randomKey'] = randomKey
                this.debug('ran',ran)
                this.debug('this.$root.practiceRange',this.$root.practiceRange)
                this.$store.commit('updateRandomData',randomData)
            },
            start:function(e){
                this.init()
                this.resetForm()
                this.randomAction()
            },
            init:function(){
                this.data.currentArray  = this.cloneObject(this.$root.practiceChar)
                this.data.max = this.$root.practiceChar.length-1;
            }
        },
        mounted:function(){
            if(this.$root.practiceChar.length == 0){
                this.$router.push('/')
            }
            
            this.start()
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .list-char li{
        color:white
    }
    .list-char li.color-black{
        color:black
    }

</style>
