<template >
    <section class="container practice" id="practice">
        <PracticeList></PracticeList>

        <PracticePresentation></PracticePresentation>

        <div class="row block-answer">
            <p class="text text-danger helper-text">Hãy chọn ký tự bạn cho là đúng !</p>

            <ul class="list margin-top-20 list-char list-char-typing" >
                <li class="color-black" v-bind:class="{active : (answer.selectedKey == key)}" @click="checkTyping(key,item.randomKey)"  v-for="(item,key) in answer.listChar">{{item[item.randomKey]}}</li>
            </ul>

        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-5">
                <p class="text helper-text text-right text-center-xs">Sửa để thay đổi độ khó, Số đáp án hiển thị</p>
            </div>
            <div class="col-sm-1 col-sm-offset-0 col-xs-4 col-xs-offset-4">
                <input type="number" class="form-control" v-model="showNumberAnswer"/>
            </div>

        </div>
        <div class="row margin-top-20">
            <div class="col-sm-12 text-center">
                <div class="  btn-group">
                    <button class="btn btn-primary" type="button" ref="redo" @click="start">Làm lại</button>
                </div>
                <div class=" btn-group">
                    <router-link to="/basic" class="btn btn-primary">Chọn lại ký tự</router-link>
                </div>
                <div class=" btn-group">
                    <router-link to="/" class="btn btn-default">Về trang chủ</router-link>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import PracticeList from '@/component/PracticeList'
    import PracticePresentation from '@/component/PracticePresentation'
    export default {
        name: 'PracticeJP',
        components:{
            PracticeList,
            PracticePresentation
        },
        data() {
            return {
                data:{
                    currentArray :[],
                    max:0,
                    currentKey:0,
                },

                answer:{
                    listChar:[],
                    selectedKey:-1,
                    answerResult:false
                },
                showNumberAnswer:5
            }
        },
        methods:{

            adjustCurrentArr:function(){
                if(this.answer.answerResult){
                    this.data.currentArray.splice(this.data.currentKey,1)
                    this.data.max=this.data.currentArray.length - 1;
                }
            },
            checkTyping:function(key,typeChar){ // typeChar =  1 or 2
               // this.answer.selectedKey =  key

                var userChar = this.answer.listChar[key].r.toLowerCase();  // get romanji
                if(userChar == ''){
                    swal('Hãy gõ chữ đi nào !','','info')
                    this.$refs.typingValue.focus();
                    return;
                }
                var resultData = []
                resultData.userAnswer = {
                    text:'',
                    status:''
                }

                resultData['userAnswerText'] =  this.answer.listChar[key][typeChar]
                resultData['chars'] = this.data.currentArray[this.data.currentKey]

                if(userChar == this.data.currentArray[this.data.currentKey].r) {
                    this.answer.answerResult = true
                }
                else{
                    this.answer.answerResult = false
                }

                resultData['userAnswerStatus'] = this.answer.answerResult
                this.$store.commit('updateResultData',resultData)
                this.adjustCurrentArr()

                if(this.data.max < 0){
                    swal('Xin chúc mừng !','Bạn đã hoàn thành phần luyện tập','success')
                    this.$refs.redo.focus();
                    return ;
                }

                this.randomAction()
                this.createAnswer()
            },

            resetForm:function(){
                this.$store.commit('resetForm')
            },


            randomAction : function(){
                if(this.data.max > 0){
                    this.data.currentKey =  this.random(0,this.data.max)
                }
                else{
                    this.data.currentKey = 0;
                }
                var randomData = this.cloneObject(this.data.currentArray[this.data.currentKey]);
                randomData['randomKey'] = 'r'
                this.$store.commit('updateRandomData',randomData)
            },

            createAnswer:function(){
                // can not move to init function because call by watch
                this.answer.listChar= this.cloneObject(this.$root.practiceChar)
                //random array
                this.answer.listChar.sort(function(){
                    return Math.random() - 0.5
                })
                //setting item number for answer
                if(this.showNumberAnswer > this.$root.practiceChar.length){
                    this.showNumberAnswer = this.$root.practiceChar.length
                }
                this.answer.listChar.length = Math.abs(this.showNumberAnswer)
                var randomCharArr = this.data.currentArray[this.data.currentKey]
                var hasRandomChar = false
                // kiểm tra có ký tự đề bài hay không
                this.answer.listChar.map(function(item){
                    if(item.r == randomCharArr.r){
                        hasRandomChar = true
                    }
                })
                // nếu chưa có thêm vào vị trí ngãu nhiên
                if(!hasRandomChar){
                    var rdKey =  this.random(0,this.answer.listChar.length-1)
                    this.answer.listChar[rdKey] = randomCharArr
                }

                //random kata or hira
                var self = this
                this.answer.listChar.map(function(item){
                    if(self.$root.practiceRange.length == 2 ){
                        item['randomKey'] = self.$root.practiceRange[self.random(0,1)]
                    }
                    else{
                        item['randomKey'] = self.$root.practiceRange.toString()
                    }
                    //self.debug('this.random(1,2)',self.random(1,2))
                    return item
                })
               // this.debug('this.$root.practiceChar',this.$root.practiceChar)
            },

            start:function(e){
                this.init()
                this.resetForm()
                this.randomAction()
                this.createAnswer()
            },
            init:function(){
                this.data.currentArray  = this.cloneObject(this.$root.practiceChar)
                this.data.max = this.$root.practiceChar.length-1;
               // console.log('kaka',this.$root.practiceChar)

            }

        },
        watch:{
            showNumberAnswer:function(val){
                this.createAnswer()
            }
        },
        mounted:function(){
            if(this.$root.practiceChar.length == 0){
                this.$router.push('/')
            }
            this.start()
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .list-char li{
        color:white
    }
    .list-char li.color-black{
        color:black
    }
    .list-char-typing{
        margin-top:5px
    }
    .list-char-typing li{
        padding:3px 10px;
        margin:5px;
        font-size: 20px;
    }
    .list-char-typing li:hover{
        cursor: pointer;
    }
    .list-char-typing li.active{
        background: bisque;
    }
    .block-answer{
        margin-top:20px
    }
    .block-answer .text-danger{
        margin-bottom: 0;
    }
</style>
